sudo: required
language: generic
services:
  - docker
before_install:
  - echo "Start Creating an image with Dockerfile.dev !!!"
  - docker build -t sagukwon/docker-react-app -f Dockerfile.dev .
script:
  - docker run -e CI=true sagukwon/docker-react-app npm run test -- --coverage
after_success:
  - echo "Test Success"
